<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <title>About Us</title>
</head>
<body>
    <div id = "main">


        <!-- NAV-BAR -->       
        <div id="nav-bar">
            <img src = "static/Logo2.png">
            <h4 id = "quanta">SECURE-SURF</h4>
            <a href = "/">HOME</a>
            <a href = "/about">ABOUT</a> 
            <a href = "/contact">CONTACT</a>
        </div>

        <div id = "title">About Us</div>

        <div id="container">
            <section>
                <p>Our mission is clear: safeguard users from online fraud with our advanced phishing detection system. 
                    Powered by our proprietary 7ml algorithm, we provide real-time protection, constantly evolving to stay ahead
                    of evolving threats. Our impact speaks volumes as we work tirelessly to reduce successful phishing attacks,
                    making the internet safer for all. Join us in our mission, whether you're an individual seeking protection or
                    an organization in need of advanced security solutions. Together, let's combat phishing and
                    build a more secure digital world.</p>
            </section>
        </div>
    </div>
</body>
</html>